body{
    background-color: whitesmoke;
    font-family:sans-serif;
}
#main{
    
    width: 60%;
    margin: auto;
}
.textarea{
    display: block;
    border-color: rgb(31, 31, 89);
    font-size: large;
    padding: 20px;
}
button{
    margin-top: 20px;
    width: 30%;
    border-radius: 10px;
    background-color: rgb(40, 6, 192);
    color: white;
    padding: 10px;
}
span{
    color: red;
    padding: 8px;
    height: 20px;
    width: 30px;
    background: whitesmoke;
    border-radius: 20%;
}
.heading{
    text-align: center;
}
.results span{
    color: red;
}
